@font-face {
    font-family: 'JosefinSans-Bold';
    src: url('JosefinSans-Bold.eot');
    src: url('JosefinSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('JosefinSans-Bold.woff2') format('woff2'),
        url('JosefinSans-Bold.woff') format('woff'),
        url('JosefinSans-Bold.ttf') format('truetype'),
        url('JosefinSans-Bold.svg#JosefinSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSans-Light';
    src: url('JosefinSans-Light.eot');
    src: url('JosefinSans-Light.eot?#iefix') format('embedded-opentype'),
        url('JosefinSans-Light.woff2') format('woff2'),
        url('JosefinSans-Light.woff') format('woff'),
        url('JosefinSans-Light.ttf') format('truetype'),
        url('JosefinSans-Light.svg#JosefinSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSans-ExtraLight';
    src: url('JosefinSans-ExtraLight.eot');
    src: url('JosefinSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('JosefinSans-ExtraLight.woff2') format('woff2'),
        url('JosefinSans-ExtraLight.woff') format('woff'),
        url('JosefinSans-ExtraLight.ttf') format('truetype'),
        url('JosefinSans-ExtraLight.svg#JosefinSans-ExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('JosefinSans-Regular.eot');
    src: url('JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('JosefinSans-Regular.woff2') format('woff2'),
        url('JosefinSans-Regular.woff') format('woff'),
        url('JosefinSans-Regular.ttf') format('truetype'),
        url('JosefinSans-Regular.svg#JosefinSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSans-Medium';
    src: url('JosefinSans-Medium.eot');
    src: url('JosefinSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('JosefinSans-Medium.woff2') format('woff2'),
        url('JosefinSans-Medium.woff') format('woff'),
        url('JosefinSans-Medium.ttf') format('truetype'),
        url('JosefinSans-Medium.svg#JosefinSans-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSans-SemiBold';
    src: url('JosefinSans-SemiBold.eot');
    src: url('JosefinSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('JosefinSans-SemiBold.woff2') format('woff2'),
        url('JosefinSans-SemiBold.woff') format('woff'),
        url('JosefinSans-SemiBold.ttf') format('truetype'),
        url('JosefinSans-SemiBold.svg#JosefinSans-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather-Bold';
    src: url('Merriweather-Bold.eot');
    src: url('Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Bold.woff2') format('woff2'),
        url('Merriweather-Bold.woff') format('woff'),
        url('Merriweather-Bold.ttf') format('truetype'),
        url('Merriweather-Bold.svg#Merriweather-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather-Light';
    src: url('Merriweather-Light.eot');
    src: url('Merriweather-Light.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Light.woff2') format('woff2'),
        url('Merriweather-Light.woff') format('woff'),
        url('Merriweather-Light.ttf') format('truetype'),
        url('Merriweather-Light.svg#Merriweather-Light') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather-Regular';
    src: url('Merriweather-Regular.eot');
    src: url('Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Regular.woff2') format('woff2'),
        url('Merriweather-Regular.woff') format('woff'),
        url('Merriweather-Regular.ttf') format('truetype'),
        url('Merriweather-Regular.svg#Merriweather-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

