html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}

body {
	line-height: 1
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}

nav ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
	content: none
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}

del {
	text-decoration: line-through
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}

input, select {
	vertical-align: middle
}

/*****end reset ******/
body {
	font-family: Helvetica, Arial, san-serif !important;
	background-color: #fffbf2;
}

header {
	height: 98px;	/*background: rgb(7, 21, 1, 0.3) !important;	*/
	background: #36802b;
	z-index: 2000;	/*position: absolute;*/
	width: 100%;
}

p {
	margin-bottom: 10px;
}

p, span,li {
	font-family: Helvetica, Arial, san-serif !important;
	line-height: 24px !important;
	text-align: justify;
	font-size: 16px;
}

li {
	line-height: 25px !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, san-serif !important;
	font-weight: bold;
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
	padding: 0px;
}

.banner-inner .wp-caption-text {
	position: absolute;
	top: 50%;
	width: 100%;
	left: 0px;
	margin: 0 auto;
	font-size: 40px;
	color: #fff;
	line-height: 45px;
	text-transform: uppercase;
}

.heading-default h2 {
	color: #36802b !important;
	font-size: 30px;
	padding-top: 100px;
	padding-bottom: 10px;
	text-transform: uppercase;
	line-height: 45px !important;
}

.text-default p {
	line-height: 24px;
	font-size: 16px;
}

.section-box-left-right {
	margin: 50px 0px;
}

.section-box-left-right .column-right .elementor-text-editor {
	padding-left: 40px;
}

.section-box-left-right .column-image img {
	width: 100%;
}

.section-box-left-right .column-left {
	padding-right: 40px;
}

.section-box-left-right h4 {
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	color: #36802b;
	margin-bottom: 20px;
	margin-top: 20px;
}

.section-box-left-right p {
	font-size: 16px;
	line-height: 24px;
}

.copy-right {
	border-top: 1px solid rgba(255, 255, 255, 0.8);
}

.copy-right p.elementor-heading-title {
	font-size: 14px !important;
	color: rgba(255, 255, 255, 0.8) !important;
	font-family: Helvetica, Arial, san-serif !important;
	font-weight: normal !important;
	text-align: center;
}

.menu-footer ul {
	padding-left: 60px;
}

.menu-footer ul>li>a {
	color: rgba(255, 255, 255, 0.8) !important;
	font-family: Helvetica, Arial, san-serif !important;
	font-weight: normal !important;
	padding: 6px 20px !important;
}

.address-footer i {
	color: #36802b !important;
}

.address-footer li span {
	line-height: 25px;
}

.address-footer .elementor-widget-container {
	margin-top: 20px !important;
}

.newsletter-footer input[type="text"], .newsletter-footer input[type="email"] {
	border-radius: 20px !important;
	border: 0px !important;
	outline: none !important;
	min-height: 40px !important;
}

.newsletter-footer  input.button {
	border-radius: 20px !important;
	background-color: #36802b !important;
	margin-top:-5px;
}

.elementor-218 .elementor-element.elementor-element-461ce56 .elementor-heading-title {
	font-weight: bold !important;
}

.main-menu ul>li>a {
	font-size: 14px !important;
	font-family: Helvetica, Arial, san-serif !important;
	text-transform: uppercase !important;
	color: #fff !important;
	font-weight: 500 !important;
}

.main-menu .elementor-nav-menu .sub-arrow i {
	pointer-events: none;
	position: absolute;
	top: 6px;
}

.main-menu .sub-menu {
	background-color: #36802b !important;
	padding: 10px 0px !important;
}

.main-menu .sub-menu>li>a {
	padding-left: 0px;
	font-size: 14px !important;
	text-align: left;
	text-transform: capitalize !important;
	display: block !important;
	padding: 10px 20px !important;
}

header .elementor-image {
	padding-top: 10px;
}

.main-menu ul {
	padding-top: 12px;
}

.main-menu ul>li>a:before, .main-menu ul>li>a:after {
	content: "";
	background: none !important;
}

.main-menu ul>li>a:hover:before, .main-menu ul>li.current-menu-item>a:before {
	content: "";
	position: absolute;
	left: 12px;
	top: 27px;
	width: 45px;
	height: 2px;
	background: #fff !important;
}

.main-menu ul.sub-menu>li>a:hover {
	padding: 13px 0px;
}

.main-menu ul.sub-menu>li>a:hover:before, .main-menu ul.sub-menu>li.current-menu-item>a:before {
	left: 20px;
	top: 32px;
}

.main-menu .sub-menu>li.current-menu-item>a {
	background-color: #000 !important;
}

.section-news .elementor-posts .elementor-post__title {
	line-height: 22px !important;
	text-align: left;
	margin-bottom: 6px !important;
}

.section-news .elementor-post-date, .section-news .elementor-post__meta-data {
	text-align: left;
	font-style: italic;
}

.section-news .elementor-posts .elementor-post__excerpt {
	text-align: left;
}

#news-block .description {
	font-size: 16px;
	line-height: 27px;
	color: #333;
}

#news-block .new-item h3.title a {
	color: #36802b;
	font-size: 26px;
	font-weight: bold;
	line-height: 40px;
}

#news-block .new-item h3.title {
	padding-bottom: 15px;
}

#news-block .new-item h3.title span {
	font-size: 14px;
	display: block;
	color: #36802b;
	padding-top: 5px;
}

#news-block .new-item {
	margin-bottom: 50px;
}

.section-info-contact {
	margin-bottom: 50px;
}

.section-info-contact h2.elementor-heading-title {
	text-transform: uppercase;
	font-size: 40px;
	position: relative;
	color: #36802b !important;
	margin-top: 50px;
	margin-bottom: 0px;
}

.section-info-contact .elementor-text-editor {
	font-size: 16px;
	line-height: 25px;
	font-weight: normal;
}

.elementor-slideshow--ui-hidden .elementor-slideshow__footer, .elementor-slideshow--ui-hidden .elementor-slideshow__header {
	opacity: 0 !important;
}

.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
	font-size: 40px;
	line-height: 55px !important;
}

.section-text-large .elementor-text-editor p {
	color: #fff;
	line-height: 26px;
	text-align: justify;
}

a.elementor-button.elementor-size-sm {
	border-radius: 0px !important;
	padding: 10px 30px !important;
}

.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
	font-size: 45px;
}

.elementor-button-text {
	font-family: Helvetica, Arial, san-serif !important;
	font-weight: bold;
}

.black-button {
	padding: 13px 35px !important;
}

.apartment-data, .apartment-img {
	width: 48% !important;
	margin-right: 20px;
}

h2.elementor-heading-title.elementor-size-xxl {
	color: #36802b !important;
	line-height: 60px !important;
}

.slick-slide {
	font-family: Helvetica, Arial, san-serif !important;
}

ul.apartment-properties span {
	color: #20252E;
}

.slider_dots.slick-initialized .slick-current.slick-active {
	border-bottom: 4px solid #36802b !important;
}

.apartment-data .black-button {
	background-color: #36802b;
}

.apartment-data .sc_button_title {
	font-size: 16px;
}

.content-default-block {
	padding-bottom: 0px !important;
}

.banner-slide h2.elementor-heading-title.elementor-size-xxl {
	color: #fff !important;
	text-shadow: none !important;
}
.section-banner-home .swiper-slide-contents{
	background: rgb(0 0 0 / 50%);
	padding: 50px;
}

.detail-news figure {
	display: block;
	text-align: center;
}

.detail-news img {
	text-align: center;
	margin-bottom: 20px;
}

.detail-news p {
	padding-bottom: 10px;
}

.modal__content--active {
	line-height: 25px;
}

#home-banner .elementor-widget-wrap.elementor-element-populated {
	padding: 60px 60px 60px 60px;
	background: rgb(0 0 0 / 30%);
}

.page-default h2, .elementor-widget-heading .elementor-heading-title {
	font-size: 30px;
	font-weight: bold !important;
	text-transform: uppercase;
	line-height: 40px !important;
	color: #36802b;
	margin-bottom: 0px;
	margin-top: 50px;
	text-align: center;
}

.page-default img {
	width: 100%;
}

.elementor-item.elementor-gallery-title {
	color: #36802b !important;
}

.elementor-custom-embed-play i {
	font-size: 60px;
	font-weight: bold !important;
}

.page-default ul li {
	list-style: none;
	padding: 4px 0px;
}

.page-default ul li strong {
	color: #000;
}

.page-default.grid {
	margin-top: 40px;
}

.page-default.grid .elementor-column {
	padding: 0px 15px;
}

.page-default.grid .elementor-heading-title {
	font-size: 20px;
	text-transform: none;
	margin: 0px;
}

.page-default.grid .elementor-widget-heading {
	margin-bottom: 0px;
}

.image-slide {

	/*margin-top: 50px;*/
}

.image-slide .elementor-widget-image-box {
	background-color: #20252E;
}

.image-slide .elementor-widget-image-box h2, .image-slide .elementor-widget-image-box p {
	color: #fff !important;
}

.image-slide .elementor-widget-image-box img {
	height: 600px;
	object-fit: cover;
}

.image-slide .elementor-widget-image-box .elementor-image-box-content {
	padding: 0px 80px;
}

.image-slide .owl-controls {
	position: absolute;
	bottom: 20px;
	left: 21%;
}

.image-slide .owl-controls .owl-dot span {
	background: #fff;
}

.image-slide .owl-controls .owl-dot.active span {
	background: #36802b;
}

.image-slide h2 {
	margin-top: 0px;
	margin-bottom: 30px;
}

.image-slide .elementor-image-box-description a {
	border: 2px solid #fff;
	display: block;
	color: #fff;
	font-size: 16px;
	padding: 5px 10px;
	text-align: center;
	margin: 0 auto;
	margin-top: 30px;
	width: 150px;
	font-weight: bold;
}

.stack img {
	height: 250px !important;
	object-fit: cover;
}

.main-menu .menu-item-has-children .elementor-sub-item .sub-arrow i {
	top: 18px;
}

/******phone********/
.ew-alo-phone {
	position: fixed;
	bottom: 130px;
	z-index: 999;
	left: -48px
}

.ew-alo-ph-circle {
	width: 100px;
	height: 100px;
	top: 39px;
	left: 39px;
	position: absolute;
	background-color: transparent;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid rgba(30, 30, 30, .4);
	border: 2px solid #48a5d4;
	opacity: .1;
	-webkit-animation: ew-alo-circle-anim 1.2s infinite ease-in-out;
	-moz-animation: ew-alo-circle-anim 1.2s infinite ease-in-out;
	-ms-animation: ew-alo-circle-anim 1.2s infinite ease-in-out;
	-o-animation: ew-alo-circle-anim 1.2s infinite ease-in-out;
	animation: ew-alo-circle-anim 1.2s infinite ease-in-out;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%
}

.ew-alo-phone.ew-alo-active .ew-alo-ph-circle {
	-webkit-animation: ew-alo-circle-anim 1.1s infinite ease-in-out !important;
	-moz-animation: ew-alo-circle-anim 1.1s infinite ease-in-out !important;
	-ms-animation: ew-alo-circle-anim 1.1s infinite ease-in-out !important;
	-o-animation: ew-alo-circle-anim 1.1s infinite ease-in-out !important;
	animation: ew-alo-circle-anim 1.1s infinite ease-in-out !important
}

.ew-alo-phone.ew-alo-static .ew-alo-ph-circle {
	-webkit-animation: ew-alo-circle-anim 2.2s infinite ease-in-out !important;
	-moz-animation: ew-alo-circle-anim 2.2s infinite ease-in-out !important;
	-ms-animation: ew-alo-circle-anim 2.2s infinite ease-in-out !important;
	-o-animation: ew-alo-circle-anim 2.2s infinite ease-in-out !important;
	animation: ew-alo-circle-anim 2.2s infinite ease-in-out !important
}

.ew-alo-phone.ew-alo-hover .ew-alo-ph-circle, .ew-alo-phone:hover .ew-alo-ph-circle {
	border-color: #309acf;
	opacity: .5
}

.ew-alo-phone.ew-alo-green.ew-alo-hover .ew-alo-ph-circle, .ew-alo-phone.ew-alo-green:hover .ew-alo-ph-circle {
	border-color: green;
	border-color: #ffc272;
	opacity: .5
}

.ew-alo-phone.ew-alo-green .ew-alo-ph-circle {
	border-color: #309acf;
	border-color: #48a5d4;
	opacity: .5
}

.ew-alo-phone.ew-alo-gray.ew-alo-hover .ew-alo-ph-circle, .ew-alo-phone.ew-alo-gray:hover .ew-alo-ph-circle {
	border-color: #ccc;
	opacity: .5
}

.ew-alo-phone.ew-alo-gray .ew-alo-ph-circle {
	border-color: green;
	opacity: .5
}

.ew-alo-ph-circle-fill {
	width: 80px;
	height: 80px;
	top: 50px;
	left: 50px;
	position: absolute;
	background-color: #000;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid transparent;
	opacity: .1;
	-webkit-animation: ew-alo-circle-fill-anim 2.3s infinite ease-in-out;
	-moz-animation: ew-alo-circle-fill-anim 2.3s infinite ease-in-out;
	-ms-animation: ew-alo-circle-fill-anim 2.3s infinite ease-in-out;
	-o-animation: ew-alo-circle-fill-anim 2.3s infinite ease-in-out;
	animation: ew-alo-circle-fill-anim 2.3s infinite ease-in-out;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%
}

.ew-alo-phone.ew-alo-active .ew-alo-ph-circle-fill {
	-webkit-animation: ew-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
	-moz-animation: ew-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
	-ms-animation: ew-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
	-o-animation: ew-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
	animation: ew-alo-circle-fill-anim 1.7s infinite ease-in-out !important
}

.ew-alo-phone.ew-alo-static .ew-alo-ph-circle-fill {
	-webkit-animation: ew-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
	-moz-animation: ew-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
	-ms-animation: ew-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
	-o-animation: ew-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
	animation: ew-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
	opacity: 0 !important
}

.ew-alo-phone.ew-alo-hover .ew-alo-ph-circle-fill, .ew-alo-phone:hover .ew-alo-ph-circle-fill {
	background-color: rgba(0, 175, 242, .5);
	background-color: #309acf;
	opacity: .75 !important
}

.ew-alo-phone.ew-alo-green.ew-alo-hover .ew-alo-ph-circle-fill, .ew-alo-phone.ew-alo-green:hover .ew-alo-ph-circle-fill {
	background-color: rgba(117, 235, 80, .5);
	background-color: #ffc272;
	opacity: .75 !important
}

.ew-alo-phone.ew-alo-green .ew-alo-ph-circle-fill {
	background-color: rgba(0, 175, 242, .5);
	background-color: #a6e3fa;
	opacity: .75 !important
}

.ew-alo-phone.ew-alo-gray.ew-alo-hover .ew-alo-ph-circle-fill, .ew-alo-phone.ew-alo-gray:hover .ew-alo-ph-circle-fill {
	background-color: rgba(204, 204, 204, .5);
	background-color: #ccc;
	opacity: .75 !important
}

.ew-alo-phone.ew-alo-gray .ew-alo-ph-circle-fill {
	background-color: rgba(117, 235, 80, .5);
	opacity: .75 !important
}

.ew-alo-ph-img-circle {
	width: 40px;
	height: 40px;
	top: 70px;
	left: 70px;
	position: absolute;
	background: rgba(30, 30, 30, .1) url(../images/phone.png) no-repeat center center;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid transparent;
	opacity: .7;
	-webkit-animation: ew-alo-circle-img-anim 1s infinite ease-in-out;
	-moz-animation: ew-alo-circle-img-anim 1s infinite ease-in-out;
	-ms-animation: ew-alo-circle-img-anim 1s infinite ease-in-out;
	-o-animation: ew-alo-circle-img-anim 1s infinite ease-in-out;
	animation: ew-alo-circle-img-anim 1s infinite ease-in-out;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%
}

.ew-alo-phone.ew-alo-active .ew-alo-ph-img-circle {
	-webkit-animation: ew-alo-circle-img-anim 1s infinite ease-in-out !important;
	-moz-animation: ew-alo-circle-img-anim 1s infinite ease-in-out !important;
	-ms-animation: ew-alo-circle-img-anim 1s infinite ease-in-out !important;
	-o-animation: ew-alo-circle-img-anim 1s infinite ease-in-out !important;
	animation: ew-alo-circle-img-anim 1s infinite ease-in-out !important
}

.ew-alo-phone.ew-alo-static .ew-alo-ph-img-circle {
	-webkit-animation: ew-alo-circle-img-anim 0s infinite ease-in-out !important;
	-moz-animation: ew-alo-circle-img-anim 0s infinite ease-in-out !important;
	-ms-animation: ew-alo-circle-img-anim 0s infinite ease-in-out !important;
	-o-animation: ew-alo-circle-img-anim 0s infinite ease-in-out !important;
	animation: ew-alo-circle-img-anim 0s infinite ease-in-out !important
}

.ew-alo-phone.ew-alo-hover .ew-alo-ph-img-circle, .ew-alo-phone:hover .ew-alo-ph-img-circle {
	background-color: #309acf
}

.ew-alo-phone.ew-alo-green.ew-alo-hover .ew-alo-ph-img-circle, .ew-alo-phone.ew-alo-green:hover .ew-alo-ph-img-circle {
	background-color: green
}

.ew-alo-phone.ew-alo-green .ew-alo-ph-img-circle {
	background-color: green
}

.ew-alo-phone.ew-alo-gray.ew-alo-hover .ew-alo-ph-img-circle, .ew-alo-phone.ew-alo-gray:hover .ew-alo-ph-img-circle {
	background-color: #ccc
}

.ew-alo-phone.ew-alo-gray .ew-alo-ph-img-circle {
	background-color: green
}

@-moz-keyframes ew-alo-circle-anim {
	0% {
		-moz-transform: rotate(0) scale(.5) skew(1deg);
		opacity: .1;
		-moz-opacity: .1;
		-webkit-opacity: .1;
		-o-opacity: .1
	}

	30% {
		-moz-transform: rotate(0) scale(.7) skew(1deg);
		opacity: .5;
		-moz-opacity: .5;
		-webkit-opacity: .5;
		-o-opacity: .5
	}

	100% {
		-moz-transform: rotate(0) scale(1) skew(1deg);
		opacity: .6;
		-moz-opacity: .6;
		-webkit-opacity: .6;
		-o-opacity: .1
	}

}

@-webkit-keyframes ew-alo-circle-anim {
	0% {
		-webkit-transform: rotate(0) scale(.5) skew(1deg);
		-webkit-opacity: .1
	}

	30% {
		-webkit-transform: rotate(0) scale(.7) skew(1deg);
		-webkit-opacity: .5
	}

	100% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
		-webkit-opacity: .1
	}

}

@-o-keyframes ew-alo-circle-anim {
	0% {
		-o-transform: rotate(0) scale(.5) skew(1deg);
		-o-opacity: .1
	}

	30% {
		-o-transform: rotate(0) scale(.7) skew(1deg);
		-o-opacity: .5
	}

	100% {
		-o-transform: rotate(0) scale(1) skew(1deg);
		-o-opacity: .1
	}

}

@-moz-keyframes ew-alo-circle-fill-anim {
	0% {
		-moz-transform: rotate(0) scale(.7) skew(1deg);
		opacity: .2
	}

	50% {
		-moz-transform: rotate(0) scale(1) skew(1deg);
		opacity: .2
	}

	100% {
		-moz-transform: rotate(0) scale(.7) skew(1deg);
		opacity: .2
	}

}

@-webkit-keyframes ew-alo-circle-fill-anim {
	0% {
		-webkit-transform: rotate(0) scale(.7) skew(1deg);
		opacity: .2
	}

	50% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
		opacity: .2
	}

	100% {
		-webkit-transform: rotate(0) scale(.7) skew(1deg);
		opacity: .2
	}

}

@-o-keyframes ew-alo-circle-fill-anim {
	0% {
		-o-transform: rotate(0) scale(.7) skew(1deg);
		opacity: .2
	}

	50% {
		-o-transform: rotate(0) scale(1) skew(1deg);
		opacity: .2
	}

	100% {
		-o-transform: rotate(0) scale(.7) skew(1deg);
		opacity: .2
	}

}

@-moz-keyframes ew-alo-circle-img-anim {
	0% {
		transform: rotate(0) scale(1) skew(1deg)
	}

	10% {
		-moz-transform: rotate(-25deg) scale(1) skew(1deg)
	}

	20% {
		-moz-transform: rotate(25deg) scale(1) skew(1deg)
	}

	30% {
		-moz-transform: rotate(-25deg) scale(1) skew(1deg)
	}

	40% {
		-moz-transform: rotate(25deg) scale(1) skew(1deg)
	}

	50% {
		-moz-transform: rotate(0) scale(1) skew(1deg)
	}

	100% {
		-moz-transform: rotate(0) scale(1) skew(1deg)
	}

}

@-webkit-keyframes ew-alo-circle-img-anim {
	0% {
		-webkit-transform: rotate(0) scale(1) skew(1deg)
	}

	10% {
		-webkit-transform: rotate(-25deg) scale(1) skew(1deg)
	}

	20% {
		-webkit-transform: rotate(25deg) scale(1) skew(1deg)
	}

	30% {
		-webkit-transform: rotate(-25deg) scale(1) skew(1deg)
	}

	40% {
		-webkit-transform: rotate(25deg) scale(1) skew(1deg)
	}

	50% {
		-webkit-transform: rotate(0) scale(1) skew(1deg)
	}

	100% {
		-webkit-transform: rotate(0) scale(1) skew(1deg)
	}

}

@-o-keyframes ew-alo-circle-img-anim {
	0% {
		-o-transform: rotate(0) scale(1) skew(1deg)
	}

	10% {
		-o-transform: rotate(-25deg) scale(1) skew(1deg)
	}

	20% {
		-o-transform: rotate(25deg) scale(1) skew(1deg)
	}

	30% {
		-o-transform: rotate(-25deg) scale(1) skew(1deg)
	}

	40% {
		-o-transform: rotate(25deg) scale(1) skew(1deg)
	}

	50% {
		-o-transform: rotate(0) scale(1) skew(1deg)
	}

	100% {
		-o-transform: rotate(0) scale(1) skew(1deg)
	}

}

/******end phone*******/
.page-id-832 #wrapper {
	overflow: hidden;
}

.list-page section .elementor-widget-container article {
	width: 25% !important;
	float: left;
	margin-bottom: 10px !important;
}
.list-page .list-right .article-list article:first-child{
	padding-top: 30px;
}
.list-page .list-right .article-list article{
	width: 100% !important;
	margin-bottom: 0px !important;
}


.list-page .list-right .article-list article .elementor-post__card{
	padding: 0px !important;
}
.list-page section .elementor-widget-container .item-list-page.related-item article{
	width: 100% !important;
}


.list-page section .elementor-widget-container article .elementor-post__card {
	padding: 15px !important;
}

.list-page section .elementor-widget-container .item-list-page.related-item article .elementor-post__card{
	padding: 0px !important;
}

.item-list-page.related-item .owl-controls{
	display: none;
}

.list-page section .elementor-widget-container article img {
	width: 100%;
	object-fit: cover !important;
	height: 200px !important;
}

.list-page article .elementor-post__excerpt p {
	font-size: 14px;
	line-height: 20px !important;
	text-align: left;
}

.list-page article .elementor-post__read-more {
	margin-top: 15px !important;
	display: block;
	float: none !important;
	color: #fff !important;
	text-decoration: none !important;
	background-color: #36802b;
	padding: 10px 0px;
	font-size: 13px;
	text-align: center;
	width: 120px;
	margin:0 auto;

}

.list-page article .elementor-post__read-more:hover {
	background: #61CE70 !important;
}

.list-page article .elementor-post__read-more:after {
	/*content: "\f061";*/
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	font-size: 13px;
	padding-left: 3px;
}

.content-page-list {
	min-height: inherit !important;
}

.list-page {
	padding-bottom: 60px;
}

.item-list-page {
	margin-top: 30px;
}

.list-page article .elementor-post__title a {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #36802b !important;

}

.page-column {
	margin-bottom: 60px;
}

.page-column .content-row {
	display: flex;
}

.page-column .content-desc {
	width: 66.66%;
	padding: 0px 15px;
}

.page-column .content-column {
	width: 33.33%;
	padding: 0px 15px;
	margin-top: 50px;
}

.page-column .content-column .elementor-post__card {
	display: flex;
	align-items: center;
}

.page-column .content-column .item-list-page .elementor-post {
	display: block;
	margin: 20px 0px;
}

.page-column .content-column .item-list-page .elementor-post img {
	width: 150px;
	height: 100px;
	object-fit: cover;
}

.page-column .elementor-section.elementor-section-boxed > .elementor-container {
	width: auto !important;
	max-width: 100%;
}

.page-column .content-column .content-page-list {
	margin-left: 20px;
	padding: 0px !important;
}

.page-column .content-column .content-page-list .elementor-post__title a {
	text-transform: uppercase;
	text-decoration: none;
	color: #36802b;
	display: block;
	margin-bottom: 6px;
	font-size: 15px;
}

.page-column .content-column .elementor-post__excerpt p {
	font-size: 14px;
	line-height: 20px !important;
}

.page-column .content-column .elementor-post__read-more {
	color: #36802b !important;
	text-decoration: none !important;
	font-size: 14px;
}

.page-column .content-column .elementor-post__read-more:hover {
	color: #61CE70 !important;
	text-decoration: underline !important;
}

.page-column .content-column .elementor-post__read-more:after {
	content: "\f061";
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	font-size: 12px;
	padding-left: 3px;
}

.page-column .sidebar-head {
	text-transform: uppercase;
}

.page-column .form-right {
	margin-top: 40px;
}

.page-column .form-contact input {
	height: 40px !important;
	min-height: inherit !important;
	box-sizing: border-box;
}

.page-column .form-contact {
	padding: 20px;
	background-color: #fff;
}

.page-column .form-contact input[type="submit"] {
	background-color: #36802b !important;
	width: 100%;
	line-height: 7px;
	color: #fff;
	border: none;
	position: relative;
	top: -7px;
}

#sidebar .form-contact {
	padding: 30px 10px 60px !important;
	background: #fff;
	margin-bottom: 30px;
}

.box-address li.elementor-icon-list-item {
	margin-bottom: 10px;
}

footer .gform_footer input[type="submit"], footer .gform_footer input[type="submit"]:hover {
	height: 40px;
}
.product-transfer-item img{
	height: 220px !important;
}
.slick-prev, .slick-next{
	width: 30px;
	height: 30px;
	background: #36802b !important;
}
.slick-next{
	right: -35px;
}

.slick-prev{
	left: -35px;
}
.slick-prev:before, .slick-next:before{
	font-family: inherit;
	font-size: 15px;
	color:#fff !important;
	opacity: 1 !important;
	font-weight: bold;
}
.slick-next:before {
	content: '\f061';
	font-family: 'Font Awesome 5 Free';
}
.slick-prev:before{
	content: '\f060';
	font-family: 'Font Awesome 5 Free';
}
.related-news .items-related-news .post-item{
	width: auto !important;
}
.related-news{
	float: none !important;
	clear: both;
}
.related-clear{
	padding-top:40px;
}


.related-news .owl-controls{
	display: none;
}

.page-news-list .elementor-post__title{
	color:#36802b;
	margin-bottom: 10px;
}
.page-news-list .elementor-post__thumbnail__link{
	margin-bottom: 15px !important;
}
.page-news-list .elementor-post__title a,.items-related-news .post-item .post-content a{
	color:#36802b;
	line-height: 25px;
	font-size: 17px;
}
.page-news-list .elementor-post__excerpt p ,.items-related-news .post-item .post-content p{
	text-align: left;
}
.items-related-news .post-item .post-content a{
	font-weight: 600;
	margin-top:15px;
	font-size: 16px;
	line-height: 24px;
}
.items-related-news .post-item .post-content p{
	font-size: 13px;
}
.product-side-item {
	margin: 30px 0 !important;
}
.ew-alo-phone span{
	position: fixed;
	bottom: 20px;
	left: 71px;
	background: green;
	color: #fff;
	font-size: 13px;
	padding: 2px 10px;
	border-radius: 5px;
}
.elementor-17 .elementor-element.elementor-element-2fa9b63:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-17 .elementor-element.elementor-element-2fa9b63 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer,.elementor-76 .elementor-element.elementor-element-517826c:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-76 .elementor-element.elementor-element-517826c > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{
	background-color: #36802b;
}
.sidebar-head{
	background-color: #36802b !important;
}
.related-news h3{
	color:#36802b;
}

.elementor-nav-menu--indicator-classic .elementor-nav-menu .sub-arrow i:before {
	content: "\f0d7" !important;
}
.elementor-17 .elementor-element.elementor-element-3952da7 .elementor-button{
	background-color: #36802b;
}
.phone-contact-block .elementor-widget-container .elementor-shortcode .gform_footer input[type="submit"]{
	background-color: #36802b !important;
}
.elementor-widget-heading .elementor-heading-title.elementor-size-large{
	color:#36802b !important;
}

.color-text-white .elementor-heading-title.elementor-size-large{
	color:#fff !important;
}
.newsletter-footer li.gfield{
	margin-bottom: 20px !important;
}

@media(min-width:1336px) {
	.elementor-section.elementor-section-boxed > .elementor-container, .container {
		width: 1250px;
		margin: 0 auto;
		padding: 0px;
		max-width: 1250px;
	}
}
@media(max-width:1336px) {
	.slick-prev, .slick-next{
		position: absolute;
		top: 115%;
	}
	.slick-next {
		right: 47%;
	}
	.slick-prev {
		left: 47%;
	}
}

@media(max-width:1199px) {
	.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
		font-size: 35px !important;
		line-height: 44px !important;
	}

	.elementor-114 .elementor-element.elementor-element-25349db3 .elementor-nav-menu--dropdown {
		background-color: #000 !important;
		padding-bottom: 20px;
	}

	.page-column .content-column .content-page-list .elementor-post__title a {
		line-height: 25px;
	}

	body:not(.rtl) .elementor-114 .elementor-element.elementor-element-25349db3 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child) {
		margin-right: 13px !important;
	}

	.main-menu ul>li>a {
		font-size: 12px !important;
	}

	.section-banner-home .swiper-slide-contents {
		max-width: 90% !important;
	}
	.item-list-page.related-item .owl-controls{
		display: block;
	}
	.related-news .owl-controls{
		display: block;
	}


}

@media(max-width:1024px) {
	.menu-footer {
		display: none;
	}

	.elementor-218 .elementor-element.elementor-element-23c3be38 {
		width: 100% !important;
	}

	#footer .elementor-image {
		text-align: center !important;
	}

	.main-menu ul>li>a {
		justify-content: space-between !important;
	}

	.main-menu ul>li>a:hover:before, .main-menu ul>li.current-menu-item>a:before {
		content: "";
		display: none;
	}

	.main-menu .elementor-nav-menu .sub-arrow i {
		top: 18px;
	}

	.list-page section .elementor-widget-container article {
		width: 33.33% !important;
	}

	.section-banner-home.elementor-section, .banner-inner.elementor-section {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.elementor-section {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

}

@media(max-width:991px) {
	.page-column .content-row {
		display: block;
	}

	.page-column .content-desc {
		width: 100%;
	}

	.page-column .content-column {
		width: 100%;
	}

	.banner img {
		width: 100%;
		height: auto !important;
		object-fit: inherit !important;
	}

	.page-column .content-column {
		padding: 0px;
	}

	.page-column .container {
		max-width: 768px;
		margin: 0 auto;
	}

	.section-news, .section-selling {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.main-menu ul>li>a {
		font-size: 14px !important;
	}

	#footer .menu-footer {
		display: none;
	}

	div.elementor-menu-toggle {
		color: #fff !important;
	}
	.elementor-nav-menu--dropdown .elementor-nav-menu .sub-menu.elementor-nav-menu--dropdown{
		background: #cccccc2e !important;
	}
	.slick-next {
		right: 40%;
	}
	.slick-prev {
		left: 40%;
	}
	.ew-alo-phone span{
		display: none;
	}
	#header header .elementor-nav-menu--dropdown .elementor-nav-menu .sub-menu .current-menu-item a {
		background-color: #36802b !important;
	}

}

@media(max-width:767px) {
	.image-slide .owl-controls {
		position: absolute;
		bottom: 32px;
		left: 44%;
	}

	.image-slide .elementor-widget-image-box .elementor-image-box-content {
		padding: 20px 20px 40px;
	}

	.image-slide .owl-controls .owl-dot.active span {
		background: red;
	}

	.stack {
		width: 100% !important;
		height: auto !important;
		margin: 0px !important;
		margin-bottom: 30px !important;
		padding: 0px 15px;
	}

	.stack img {
		height: auto !important;
		object-fit: inherit !important;
		width: 100%;
	}

	.stack:before, .stack:after {
		display: none !important;
	}

	.group:after {
		display: none !important;
	}

	.section-img .col-lg-4 {
		width: 100% !important;
		float: none !important;
		max-width: 100% !important;
	}

	.section-disable {
		padding-left: 15px;
		padding-right: 15px;
	}

	.section-disable .swiper-slide, .section-disable .swiper-wrapper {
		width: 100% !important;
	}

	.banner-inner .elementor-widget-wrap.elementor-element-populated {
		padding: 0px !important;
	}

	.banner-inner .elementor-image img {
		height: 250px;
		object-fit: cover;
	}

	.list-page section .elementor-widget-container article {
		width: 50% !important;
	}

	.section-banner-home .elementor-widget-wrap.elementor-element-populated {
		padding: 0px !important;
	}

	.section-banner-home .swiper-slide-contents {
		max-width: 100% !important;
	}

	.page-column .container {
		max-width: none !important;
		padding-left: 15px;
		padding-right: 15px;
	}

	.page-column .content-desc {
		padding: 0px;
	}

}

@media(max-width:600px) {
	.elementor-widget-wrap.elementor-element-populated {
		padding: 0px !important;
	}
	.elementor-widget-heading .elementor-heading-title.elementor-size-large{
		font-size: 20px;
	}
	.list-right.sidebar {
		clear: both;
		padding-top: 40px;
	}
}

@media(max-width:480px) {
	.section-banner-home .swiper-slide{
		overflow: inherit;
		height: auto !important;
	}
	.section-banner-home .swiper-slide .swiper-slide-bg{
		height: 200px;
		min-height: inherit;
	}
	.section-banner-home .elementor-slides .swiper-slide-inner{
		display: block;
		position: static;
		background: #36802b;
		height: 250px;
		overflow: hidden;
		padding: 0px;
	}
	.elementor-widget-heading .elementor-heading-title.elementor-size-xl {
		font-size: 25px;
		line-height: 40px !important;
	}
	.section-banner-home .swiper-slide-contents{
		background: none;
		padding: 30px 20px;
		text-align: center;
	}

	.section-banner-home .swiper-slide-contents .elementor-slide-heading{
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 15px !important;
	}

	.section-banner-home .swiper-slide-contents .elementor-slide-description{
		line-height: 20px;
		margin-bottom: 15px !important;
	}

	.section-text-large .elementor-text-editor p {
		color: #fff;
		text-align: justify;
		font-size: 14px;
		line-height: 25px !important;
	}

	a.elementor-button.elementor-size-sm {
		border-radius: 0px !important;
		padding: 4px 20px !important;
		font-size: 14px;
	}

	.apartment-data, .apartment-img {
		width: 100% !important;
		margin-right: 0px;
	}

	.elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
		font-size: 26px !important;
		line-height: 38px !important;
	}

	.black-button {
		padding: 9px 30px !important;
	}

	.apartment-data .sc_button_title {
		font-size: 13px;
	}

	ul.apartment-properties span {
		color: #20252E;
		font-size: 14px;
	}

	ul.apartment-properties li em {
		float: right;
		color: #20252E;
		font-size: 14px;
		line-height: 20px;
	}

	p, span {
		font-size: 14px !important;
	}

	.heading-default h2 {
		font-size: 20px;
		padding-top: 50px;
		line-height: 30px !important;
	}

	.section-box-left-right .column-right .elementor-text-editor {
		padding-left: 0px;
	}

	.section-box-left-right h4 {
		font-size: 18px;
		margin-bottom: 7px;
		margin-top: 15px;
		line-height: 26px !important;
	}

	#news-block .description {
		font-size: 14px;
		line-height: 27px;
	}

	.content-default-block .wp-caption-text {
		font-size: 27px !important;
		line-height: 39px !important;
	}

	.detail-news figure.wp-caption {
		height: 350px;
	}

	.detail-news figure.wp-caption img {
		height: 400px;
		object-fit: cover;
	}

	.section-info-contact h2.elementor-heading-title {
		text-transform: uppercase;
		font-size: 28px !important;
		position: relative;
		color: #36802b !important;
		margin-top: 40px !important;
	}

	.section-info-contact .elementor-text-editor {
		font-size: 14px;
		line-height: 25px;
	}

	.gform_body label {
		font-size: 14px;
	}

	.apartment-slide .slider {
		margin: 60px 20px 50px;
	}

	#news-block .new-item h3.title a {
		font-size: 26px;
		line-height: 33px;
	}

	.section-box-left-right .column-left {
		padding-right: 0px;
	}

	.slick-slide {
		font-size: 16px !important;
	}

	.page-default h2 {
		font-size: 18px;
		margin-top: 20px;
		line-height: 30px !important;
	}

	.list-page section .elementor-widget-container article {
		width: 100% !important;
	}

	.page-column .content-column .item-list-page .elementor-post img {
		width: 110px;
		height: 80px;
		object-fit: cover;
	}


	.section-selling, .page-default .list-page .elementor-section {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.page-default .elementor-section {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.list-page.page-default .elementor-section, #footer .elementor-section, header.elementor-section {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.list-page section .elementor-widget-container article .elementor-post__card {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.ew-alo-phone {
		left: -62px;
	}

	.product-selling {
		padding: 0px 15px;
	}
	.elementor-17 .elementor-element.elementor-element-574cce5 {
		padding: 0px 0px 40px 0px;
	}

	.elementor-17 .elementor-element.elementor-element-cafd3f5 {
		padding: 40px 0px 30px 0px;
	}

	.elementor-17 .elementor-element.elementor-element-382a290 {
		padding: 40px 0px 80px 0px;
	}
	.elementor-17 .elementor-element.elementor-element-9732612, .elementor-17 .elementor-element.elementor-element-b3d11a8 {
		padding: 40px 0px 80px 0px;
	}
	.elementor-17 .elementor-widget-heading{margin-bottom: 0;}

	.elementor-17 .elementor-element.elementor-element-b3d11a8 {
		padding: 40px 0px 80px 0px;
	}
}
@media(max-width: 360px){
	.slick-next {
		right: 39%;
	}
	.slick-prev {
		left: 39%;
	}
}

.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item {
	font-size: 15px;
	padding: 2px;
}
