h1, h2, h3 ,h4{    line-height: initial!important;}
.home header{
    /*position: absolute;*/
    width: 100%;
    z-index: 999999;
    /*background-color: #ff000000;*/
    /*background: none;*/
}
#header.sticky{
    position: fixed;
    top: 0;
}
.infrastructure-item .icon img{width: 70px;}
.infrastructure-item {
    text-align: center;
    display: block;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #02010100;
    border-radius: 2px 2px 2px 2px;
    float: left;
}
.content-infrastructure {
    width: 100%;
    display: none;
}
.title-infrastructure {
    font-weight: bolder;
    margin-top: 15px;
}
.elementor-pagination {
    margin: 45px 0;
    text-align: center;
    float: left;
    width: 100%;
}
.elementor-pagination .page-numbers {
    background: #20252e;
    padding: 4px 10px;
    color: #ffffff;
    text-decoration: inherit;
}
.elementor-pagination .page-numbers.current {background: #f49ac3;}

/**
 * Material Modal CSS
 */
.modal h1{ text-align: center;margin: 5px 0 10px;
    font-size: 18px;}
.modal .icon{ text-align: center;}
.modal .icon img{ width: 55px;}
.modal {
    will-change: visibility, opacity;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal--active {
    visibility: visible;
    opacity: 1;
}
.modal--align-top {
    align-items: flex-start;
}
.modal__bg {
    background: #867c7c54;
}
.modal__dialog {
    max-width: 600px;
    padding: 1.2rem;
}
.modal__content {
    will-change: transform, opacity;
    position: relative;
    padding: 10px 20px 60px 20px;
    background: #ffffff;
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}
.modal__content--active {
    opacity: 1;
    min-height: 300px;
}
.modal__close {
    z-index: 1100;
    cursor: pointer;
}
.modal__trigger {
    position: relative;
    display: inline-block;
    /*padding: 1.2rem 2.4rem;*/
    /*color: rgba(0,0,0,0.7);*/
    /*line-height: 1;*/
    /*cursor: pointer;*/
}
.modal__trigger--active {
    z-index: 10;
}
.modal__trigger:hover {
    border-style: solid;

    border-color: #EDEB13;
}
#modal__temp {
    will-change: transform, opacity;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffebee;
    transform: none;
    opacity: 1;
    transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.content-default-block{padding-bottom: 50px;}
.content-default-block .wp-caption-text {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0px;
    margin: 0 auto;
    font-size: 40px;
    color: #fff;
    line-height: 45px;
    text-transform: uppercase;
}
.home .content-default-block .wp-caption-text {
    position: absolute;
    top: inherit;
    bottom: 0;
    width: 100%;
    left: 0px;
    margin: 0 auto;
    font-size: 40px;
    color: #fff;
    line-height: 45px;
    text-transform: uppercase;
}
.gfield_label{display: none;}
.gform_footer  input[type="submit"]{
    border-style: solid;
    border-radius: 35px 35px 35px 35px;
    padding: 15px 60px 15px 60px;
    background-color: #F5F6FA00;
    color: #20252E;
    outline: none;
}
.gform_footer  input[type="submit"]:hover{
    background-color: #20252E;
    color: #fff;
}
.home-contact .gform_footer input[type="submit"]{background: #ffffff;
}
.home-contact .gform_footer input[type="submit"]:hover{background: #3a5134;}
.home-contact .ginput_container  input[type="text"],.home-contact .ginput_container  textarea, .ginput_container  input[type="email"]{ border: none; outline: none;}
.ginput_container  input[type="text"], .ginput_container  input[type="email"]{
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    line-height: 1.4;
    font-size: 15px;
    min-height: 50px;
    padding: 5px 14px;
    padding: 5px 14px;
    width: 100%;
    font-family: Helvetica, Arial, san-serif !important;

}
.ginput_container  textarea{
    background-color: #ffffff;
    border-radius: 20px 20px 20px 20px;
    line-height: 1.4;
    font-size: 15px;
    min-height: 50px;
    max-height: 110px;
    padding: 5px 14px;
    width: 100%;
    border: 2px solid grey;
    outline: none;
    font-family: Helvetica, Arial, san-serif !important;
}
.gform_body ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li.gfield {
    margin-bottom: 25px;
}
.gform_body .w-50 {
    width: 49%;
    float: left;
}
.gform_body .w-50.first {
    margin-right: 2%;
}
.gfield_error input{border-color: red;}
.gfield_description.validation_message{display: none;}
.validation_error{display: none;}
footer .ginput_container input[type="text"], footer .ginput_container input[type="email"]{border-radius: 0;}
footer .gform_footer  input[type="submit"], footer .gform_footer  input[type="submit"]:hover{
    padding: 10px 50px 10px 50px;
    background-color: #f49ac3;
    color: #ffffff;
    outline: none;
    width: 100%;
    border-radius: 0;
    border: none;
    cursor: pointer;
}
.news-page{
    padding-top: 80px;
}
.new-item {
    width: 100%;
    float: left;
    display: flex;
    margin-bottom: 20px;
}
.new-item .thumb {
    width: 50%;
    float: left;
}
.new-item .thumb img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.new-item .news-content.right {
    width: 50%;
    float: left;
    padding: 0px 0px 0px 20px;
}
.new-item .news-content.left {
    width: 50%;
    float: left;
    padding: 0px 20px 0px 0px;
}
.new-item h3.title {
    margin: 0 0 10px 0;
}
.new-item h3.title a{    color: #20252e;
    text-decoration: inherit;}

.elementor-114 .elementor-element.elementor-element-25349db3 .elementor-nav-menu--dropdown .elementor-sub-item{
    text-transform: capitalize;
}
.list-page section .elementor-widget-container article{width: 50%; float: left;}
.list-page section .elementor-widget-container article .elementor-post__card{padding: 20px;    box-shadow: none;}
.list-page section .elementor-widget-container article img{width: 100%; object-fit: cover;height: 350px;}
.list-page article .elementor-post__excerpt{margin-top: 15px;}
.list-page article .elementor-post__read-more{margin-top: 15px; float: left;}
.content-page-list{padding: 15px 0;min-height: 140px;}
#products-selling .elementor-widget-image .elementor-image>a, #products-selling  .elementor-widget-image .elementor-image figure>a {
    display: block;
}
.phone-contact-block .elementor-widget-container .elementor-shortcode{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    display: flex;
}
.phone-contact-block .elementor-widget-container .elementor-shortcode  input[type="text"]{text-align: center; border-radius: 0;}
.phone-contact-block .elementor-widget-container .elementor-shortcode .gform_footer input[type="submit"] {
    /*padding: 16px 60px 15px 60px;*/
    height: 50px;
    background-color: #20252E;
    color: #fff;
    border-radius: 0;

}
.elementor-widget-container .elementor-shortcode .gform_footer input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.phone-contact-block .elementor-widget-container .elementor-shortcode .gform_footer input[type="submit"]:hover {
    background-color: #fff;
    color: #20252E;
    border-radius: 0;
}

.phone-contact-block .elementor-widget-container .gform_body {
    float: left;
    width: 80%;
}
.phone-contact-block .elementor-widget-container .gform_footer.top_label {
    float: right;
    width: 18%;
}
.products-sales .elementor-image{cursor: pointer;}
.elementor-text-editor ul{margin-left: 15px;}
.elementor-text-editor img.size-full{width:100%;}
.elementor-text-editor h2 {
    font-size: 24px;
    /*line-height: 50px !important;}*/
}
.page-default table{width: 100%;overflow-x:auto}
.table-responsive{overflow-x:auto}
.page-default table td {
    border: 1px solid #0e141e;
    padding: 10px;
}
.page-default table th {
    border: 1px solid #0e141e;
    padding: 10px;
    text-align: left;
}

.product-sell-item:nth-child(1), .product-sell-item:nth-child(2), .product-sell-item:nth-child(4), .product-sell-item:nth-child(5){margin-right: 2%;}
.product-sell-item {
    width: 32%;
    float: left;
    position: relative;
    margin-bottom: 20px;
}
.product-sell-item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate(
            0deg
    );
}

.product-sell-item .elementor-post__title{
    position: absolute;
    top: inherit;
    bottom: 3px;
    width: 100%;
    left: 0px;
    margin: 0 auto;

    background-color: #4432326E;
    text-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
}
.product-sell-item .elementor-post__title a{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    width: 100%;
    display: block;
    text-align: center;
    padding: 12px;
}



.product-transfer-item {
    width: 25%;
    float: left;
    position: relative;
    margin-right: 5px;
    border: 1px solid #d6dad4;
}
.product-transfer-item img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    filter: brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate(
            0deg
    );
}
.product-transfer-item  .elementor-post__title a{
    padding: 10px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    width: 100%;
    display: block;
    font-size: 12px;
}
#news-detail-page{padding: 80px 0;}
.wp-editor.has_sidebar{
    width: 73%;
    float: left;
    padding-right: 2%;
}
#news-sidebar{width: 25%; float: left;}
#sidebar .form-contact{padding: 30px 0 60px;}
#sidebar .ginput_container textarea, #sidebar .ginput_container input[type="text"],#sidebar  .ginput_container input[type="email"]{min-height: 30px;width: -webkit-fill-available;}
#sidebar .form-contact li.gfield {
    margin-bottom: 15px;
}
.wp-editor img{ width: 100%;    }
.wp-editor.has_sidebar img{ width: 100%;    height: auto;}
.wp-editor .figcaption{line-height: 23px;}
.sidebar-head{
    padding: 10px 8px;
    background: #3a5134;
    color: white;
}

.product-selling-side img{
    width: 100%;
    height: 140px;
    object-fit: cover;
}
.product-side-item {
    margin: 50px 0;
    position: relative;
}
.product-side-item  h3 {
    position: absolute;
    top: inherit;
    bottom: 3px;
    width: 100%;
    left: 0px;
    margin: 0 auto;
    background-color: #4432326E;
    text-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
}
.product-side-item  .elementor-post__title a {
    color: #fff!important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    width: auto;
    display: block;
    text-align: center;
    padding: 10px;
}
.related-news.mobile{display: none;}
.related-news{display: block; float: left;margin-top: 40px;}
.related-news h3{margin: 10px 0;
    font-size: 20px;}
.related-news .post-item a{
    color: #3A5134;
    text-decoration: none;
    line-height: 22px;
    margin: 5px 0;
    display: block;
}
.related-news .post-item .post-content p{
    font-size: 12px;
    color: #838384;
    line-height: 20px!important;
}
.related-news  .post-item {
    width: 23%;
    float: left;
    margin-right: 2%;
}
.related-news .post-item:last-child{margin-right: 0;}
.related-news .post-item img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.banner img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
#header header .elementor-nav-menu--dropdown .sub-menu .current-menu-item a{background-color: #3a5134 !important;;}
.gform_heading {
    margin-bottom: 30px;
}
.gform_heading h3{
     color: #fff !important;
     font-size: 29px;
 }
#gform_4{
    max-width: 750px;
    margin: 0 auto;
}
/*.recent-posts {*/
/*    margin: 0;*/
/*    padding: 30px 0 5px*/
/*}*/

/*.recent-posts li {*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    margin: 9px 0 0;*/
/*    padding: 15px 0 0*/
/*}*/

/*.recent-posts li .post-format-standard {*/
/*    display: -ms-flexbox;*/
/*    display: -ms-flex;*/
/*    display: flex*/
/*}*/

/*.recent-posts li {*/
/*    margin-top: 0;*/
/*}*/

/*.recent-posts>li:first-child {*/
/*    margin-top: 0;*/
/*    padding-top: 0;*/
/*    border-top: none!important;*/
/*}*/

/* .post-content>a,.recent-posts a {*/
/*    display: inline-block;*/
/*    text-decoration: none;*/
/*     color: #3a5134;*/
/*}*/

/*.post-content>p,.recent-posts .post-content>p {*/
/*    margin-top: 10px*/
/*}*/

/*.recent-posts .alignleft {*/
/*    margin: 5px 20px 5px 0;*/
/*    font-size: 0;*/
/*    line-height: 0*/
/*}*/
/*.recent-posts .alignleft img {*/
/*    max-width: 54px;*/
/*    height: inherit;*/
/*    border-radius: 50%;*/
/*}*/
@media(min-width:1336px) {
    .elementor-section.elementor-section-boxed > .elementor-container, .container {
        width: 1250px;
        margin: 0 auto;
        padding: 0px;
        max-width: 1250px!important;
    }
}

@media screen and (max-width:768px) {
    .wp-editor.has_sidebar {
        width: 100%;
        padding-right: 0;
    }
    #news-sidebar {
        width: 100%;
        float: left;
        margin-top: 30px;
    }
    .product-side-item {
        margin: 10px 0;
        position: relative;
        width: 48%;
        float: left;
    }
    .product-side-item:nth-child(1), .product-side-item:nth-child(3), .product-side-item:nth-child(5), .product-side-item:nth-child(7){margin-right: 4%;}
    .related-news .post-item {width: 48%; margin: 1%;}
    .product-side-item .elementor-post__title a {

        width: auto;
    }
    #sidebar .recent-posts{
        background: #fffbf2;
        float: left;
    }
    .sidebar-head {
        display: grid;
    }
    .related-news.mobile{display: block;}
    .related-news.desktop{display: none;}
    .side-contact{
        margin-top: 40px;
        float: left;
        width: 100%;
    }
    #home-contact-box{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #home-contact-box > .elementor-container, #contact-contact-block > .elementor-container{display: table;}
    #home-contact-info {
        display:table-footer-group;
    }
    .home-contact {
        display:table-row-group;
    }
}
@media screen and (max-width:600px) {
    .phone-contact-block .elementor-widget-container .elementor-shortcode{display: block;}
    .phone-contact-block .elementor-widget-container .gform_body {
        float: initial;
        width: 100%;
    }
    .phone-contact-block .elementor-widget-container .gform_footer.top_label {
        float: initial;
        width: 100%;
    }
    .elementor-widget-wrap.elementor-element-populated {
        /*padding: 15px!important;*/
    }
    #home-banner{    background-size: auto 100%;}
    #home-contact-info > .elementor-widget-wrap{
        padding: 30px 10px!important;
    }
}

#product-transfer .slick-prev:before,#product-transfer .slick-next:before {
    color: #7f8476;}
.address-footer .elementor-widget-container {
     margin-top: 0px !important;
}
.gform_footer.top_label img{width: initial; margin: 0 auto;}
#gform_2 .gform_footer.top_label{text-align: center;}
@media screen and (max-width:1200px) {
    .new-item {
        padding: 20px;
        width: auto;
    }
}

@media screen and (max-width:1024px) {
    .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
        font-size: 40px;
    }
    #home-banner{height: 400px;}
    .gform_body .w-50 {
        width: 100%;
        float: left;
    }
    .gform_body .w-50.first {
        margin-right: 0;
    }
    .new-item {
        display: block;
        padding: 20px;
        width: auto;
    }
    .new-item .thumb {
        width: 100%;
        float: left;
    }
    .new-item .news-content {
        width: 100%!important;
        padding: 10px 0!important;
        float: left;
    }
}
@media screen and (max-width:800px) {
    .product-sell-item {
        width: 49%;
        margin: 0;
        margin-right: 2%;
        margin-bottom: 15px;
    }
    .product-sell-item:nth-child(2n){margin-right:0;}
    .elementor-spacer .elementor-spacer-inner{height: 0px!important;}
}
@media screen and (max-width:600px) {
    .list-page section .elementor-widget-container article {
        width: 100%;
        float: left;
    }
    .content-page-list {
        padding: 15px 0;
        min-height: 40px;
    }
    .product-sell-item {
        width: 100%;
        margin: 0;
    }
    .home-contact .elementor-widget-wrap.elementor-element-populated{
        padding: 10px!important;
    }
    .phone-contact-block .elementor-widget-wrap.elementor-element-populated{padding: 20px!important;}
    .phone-contact-block h2{font-size: 18px!important;}
    .elementor-widget-shortcode .item-list-page {
        margin-top: 0px;
    }

}
@media screen and (max-width:480px) {
    .product-side-item {width: 100%; margin: 0!important;    margin-bottom: 10px!important;}
    .related-news .post-item{width: 100%; margin: 0!important;    margin-bottom: 10px!important;}
}